--color=always
--style="plain"
--theme=gruvbox-dark-vifm
--map-syntax "*.ino:C++"
--map-syntax='*.env:DotENV'
--map-syntax='.Brewfile:Ruby'
--map-syntax='.pryrc:Ruby'
--map-syntax='.irb_history:Ruby'
--map-syntax='*.ru:Ruby'
--map-syntax='vi*rc:VimL'
--map-syntax='*.vifm:VimL'
--map-syntax='*.vim:VimL'
--map-syntax='*.vim:VimL'
--map-syntax='.psqlrc:sql'
--map-syntax='.pspg_history:sql'
--map-syntax='.psql_history:sql'
--map-syntax='.sqlite_history:sql'
--map-syntax='**/.config/bat/*.config:Bourne Again Shell (bash)'
--map-syntax='**/nginx/conf.d/*.conf:nginx'
