{:profiles {:Default {:default true}}

 :applications {:edge    ["^com\\.microsoft\\.edgemac$"]
                :fork    ["^com\\.dan\\.Fork$"]
                :iterm   ["^com\\.googlecode\\.iterm2$"]
                :slack   ["^com\\.tinyspeck\\.slackmacgap$"]
                :spotify ["^com\\.spotify\\.client$"]
                :vscode  ["^com\\.microsoft\\.VSCode$"]}

 :main [{:des "Caps Lock (F18) to Cmd+t in Edge"
         :rules [[:f18 :!Ct :edge]]}

        {:des "Caps Lock (F18) to Cmd+p in Fork"
         :rules [[:f18 :!Cp :fork]]}

        {:des "Caps Lock (F18) to Ctrl+b in iTerm2"
         :rules [[:f18 :!Tb :iterm]]}

        {:des "Caps Lock (F18) to Ctrl+k in Slack"
         :rules [[:f18 :!Tk :slack]]}

        {:des "Caps Lock (F18) to Cmd+l in Spotify"
         :rules [[:f18 :!Cl :spotify]]}

        {:des "Caps Lock (F18) to Cmd+Shift+p in VS Code"
         :rules [[:f18 :!CSp :vscode]]}]}
